<h2>Ваша корзина</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Название</th>
				<th>Цена</th>
				<th>шт.</th>
        	</tr>
        </thead>
        <tbody>
        	<% total_price = 0 %>
        	<% total_qty = 0 %>
        	<% @items.each do |item| %>
        	<tr>
		        <td><%= item[0].title %> </td>
		        <td><%= item[0].price %></td>
		        <td><%= item[1] %></td>
        	</tr>
        	<% total_price += item[0].price * item[1].to_i %>
        	<% total_qty += item[1].to_i %>
        	<% end %>
			<tr>
		        <td></td>
		        <td>Итого: <%= total_price %> руб.</td>
		        <td><%= total_qty %> шт.</td>
        	</tr>
        	 
	    </tbody>
	</table>

<form class="form-horizontal" action="/place_order" method="POST">

	<input type="hidden" name="order[orders_input]" value="<%= @orders_input %>"/>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Ваше имя</label>
    <div class="col-sm-10">
      <input name="order[name]" type="text" class="form-control" id="inputEmail3" placeholder="Имя">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Ваш телефон</label>
    <div class="col-sm-10">
      <input name="order[phone]" type="text" class="form-control" id="inputPassword3" placeholder="8(999)999-99-99">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Адрес доставки</label>
    <div class="col-sm-10">
      <input name="order[address]" type="text" class="form-control" id="inputPassword3" placeholder="Полный адрес">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Заказать</button>
    </div>
  </div>
</form>
