<h2>привет и все</h2>

<div class="row">
	<% @products.each do |p| %>
	<div class="col-md-3">
		<%= p.title %><br>
		<img src=" <%= p.path_to_imege %>" /><br>
		<%= p.description %> <br>
		Цена: <%= p.price %> руб. <br>
		Размер: <%= p.size %> см. 

		
	<div>
		<button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)" > В корзину</button>
	</div>
	</div>
	<% end %>

</div>
<button class="btn btn-primary" onclick="somthing()" > clik me</button>

<script type="text/javascript">
	
$(function() {

	update_orders_input();
	update_orders_button();

})

</script>

